<nav class="site-nav">
    {{#if @site.navigation}}
    <ul class="nav-list">
        {{#foreach navigation}}
        <li class="nav-item"><a href="{{url}}" class="nav-link">{{label}}</a></li>
        {{/foreach}}
    </ul>
    {{/if}}
</nav>
